@use './mixins/mixin';

.button-transparent {
  font-size: 14px;
  font-weight: 600;
  color: black;
  transition: color 0.3s linear;
  background-color: transparent;

  &:hover {
    color: #F67280;
  }
}

.search-input {
  animation: inputMove 0.2s linear;
}

.blog-detail__content {
  margin: 50px 0;

  p {
    margin-bottom: 12px;
    font-size: 16px;
    color: #94979E;

    @include mixin.tablet {
      margin-bottom: 10px;
      font-size: 14px;
    }

    @include mixin.mobile {
      margin-bottom: 8px;
      font-size: 12px;
    }
  }

  h2 {
    margin-top: 40px;
    margin-bottom: 16px;
    font-size: 24px;

    @include mixin.tablet {
      margin-bottom: 10px;
      font-size: 20px;
    }

    @include mixin.mobile {
      margin-bottom: 8px;
      font-size: 16px;
    }
  }
}

@keyframes inputMove {
  from {
    opacity: 0;
    top: 30px;
  }

  to {
    opacity: 1;
  }
}