.button-transparent {
  font-size: 14px;
  font-weight: 600;
  color: black;
  transition: color 0.3s linear;
  background-color: transparent;

  &:hover {
    color: #F67280;
  }
}

.search-input {
  animation: inputMove 0.2s linear;
}

@keyframes inputMove {
  from {
    opacity: 0;
    top: 30px;
  }

  to {
    opacity: 1;
  }
}